body {
  background-color: #f6f6f6;
}

h1 {
  text-align: center;
  margin: 45px 0;
  font-size: 50px;
}

.container {
  margin: 40px 18% 0 18%;
  height: auto;
  border: 2px solid gray;
}

.date-time,
.author {
  display: flex;
  align-items: center;
  padding-left: 2%;
  height: 50px;
  font-size: 20px;
  background-color: #1434A4;
  color: white;
  border-style: none;
}

.author {
  border-bottom: 2px solid gray;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.forum-container {
  width: 800px;
}

.forum-container > .topic {
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
}

.forum-container img {
  width: 800px;
  height: 600px;
  object-fit: cover;
}

.forum-container > .text {
  font-size: 20px;
  line-height: 2;
  padding: 25px 0;
}

.button-container {
  margin: 20px 18% 0 18%;
  display: flex;
}

.button-container button {
  margin-right: 20px;
  border-style: none;
  font-size: 18px;
  padding: 15px;
}

.button-container > .replies {
  background-color: white;
  color: black;
  border: 2px solid gray;
}

.button-container > .share {
  background-color: #1434a4;
  color: white;
  transition-duration: .3s;
  cursor: pointer
}

.button-container > .share:hover {
  background-color: #202a44;
}

.replies-container {
  margin: 30px 18% 0 18%;
}

.replies-container > .replies-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.replies-container > .replies-date-time {
  font-size: 18px;
  padding-bottom: 10px;
}

.replies-container > .replies {
  height: 200px;
  border: 2px solid lightgray;
  display: flex;
  margin-bottom: 30px;
  background-color: white; 
}

.replies > .user-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.user-icon img {
  width: 100px;
}

.user-icon > .username {
  margin-top: 5px;
  font-size: 18px;
}

.replies > .text {
  width: 85%;
  display: flex; 
  align-items: center;
  line-height: 1.6;
  font-size: 16px;
  padding: 20px;
  
}