

.workspaces-team-container {
  margin-top: -60px;
  display: grid;
  grid-template-columns: 12% 32% 12% 32% 12%;
  grid-template-rows: auto;
  
}

.center > .heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  background-color: #f2f2f2;
  padding: 50px;
  border: 2px solid lightgray;
}

.icon img {
  width: 50px;
  transition-duration: .3s; 
}

.icon img:hover {
  opacity: .6;
}

.name {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.name:hover {
  text-decoration: underline;
}
